@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
    font-family: 'Space Mono', sans-serif;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

html {
    color: var(--dark-grayish-cyan);
    font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 1.2;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
}

body {
    height: 100vh;
    background: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapp {

}

header {
    padding: 50px 0;
}

main {
    background: white;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;

}

section {
    height: 100%;
    width: 48%;
    border-radius: 10px;
}

form {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
        padding-bottom: 10px;
    }
}

.left {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 20px;
    background: var(--very-light-grayish-cyan);
    border: unset;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: right;
    padding: 5px 20px;
    color: var(--grayish-cyan);
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;

    .tip-variate {
        width: 27%;
        background: var(--very-dark-cyan);
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
    }

    input.active-btn {
        background: var(--strong-cyan);
    }

    input.btn-tip::placeholder {
        color: white;
    }

    input.btn-tip:hover::placeholder {
        color: var(--very-dark-cyan);
    }

    input.active-btn::placeholder {
        color: var(--very-dark-cyan);
    }

    .btn-tip:hover {
        background: var(--strong-cyan);

        color: black;
    }

    input.btn-tip:focus-visible {
        outline: none;
    }

    input.btn-tip::placeholder:hover {
        color: black;
    }

    input:last-child {
        background: var(--very-light-grayish-cyan);
        color: var(--dark-grayish-cyan) !important;

        input:last-child::placeholder {
            color: var(--dark-grayish-cyan);
        }
    }
}

input:focus-visible {
    outline: 2px solid var(--strong-cyan);
}

input#custom::placeholder {
    color: var(--dark-grayish-cyan);
    text-align: center;
    font-weight: 600;
}

input#custom {
    padding: 2px;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.right {
    background: var(--very-dark-cyan);
    padding: 30px;

    div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;

        p {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1px;

            span {
                color: white;
            }
        }
    }

    button {
        border: unset;
        cursor: pointer;
        width: 100%;
        background: var(--dark-grayish-cyan);
        padding: 5px;
        color: var(--grayish-cyan);
        margin-top: 100px;
        text-transform: uppercase;
        border-radius: 3px;
    }
    button.active-reset {
        background: var(--strong-cyan);
        color: var(--very-dark-cyan);
    }
}


.persons-price {
    color: var(--strong-cyan);
    font-size: 34px !important;
}

.persons-price::before {
    content: "$";
    font-size: 34px;
}

.input-wrap {
    position: relative;
}

.input-before {
    position: absolute;
    top: 60%;
    left: 4%;
}

@media only screen and (max-width: 750px) {
    body {
        height: auto;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    .btns {
        .tip-variate {
            width: 31%;
        }
    }

    .right {
        margin-top: 30px;
        button {
            margin-top: 0;
        }
    }

    form{
        row-gap: 30px;
    }

}




